*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body{
    height: 100vh;
    background: linear-gradient(180.43deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%),url("../image/starwars.jpg");
    background-size: cover;
    background-position: center;
}